package rest

import (
	"bytes"
	"context"
	"encoding/json"
	"{{ .Module }}/internal/domain/errs"
	"{{ .Module }}/internal/domain/interceptors"
	mock_interceptors "{{ .Module }}/internal/domain/interceptors/mock"
	"{{ .Module }}/internal/domain/models"
	mock_models "{{ .Module }}/internal/domain/models/mock"
	"{{ .Module }}/pkg/log"
	mock_log "{{ .Module }}/pkg/log/mock"
	"github.com/gin-gonic/gin"
	"github.com/golang/mock/gomock"
	"io"
	"net/http"
	"net/http/httptest"
	"reflect"
	"testing"
)

func Test{{ .RESTHandlerTypeName }}_Create(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	create := mock_models.New{{ .ModelName }}Create(t)
	createjson, _ := json.Marshal(create)
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	{{ .Variable }}json, _ := json.Marshal({{ .Variable }})
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		request *http.Request
	}
	tests := []struct {
		name       string
		setup      func()
		fields     fields
		args       args
		wantBody   *bytes.Buffer
		wantStatus int
	}{
		{
			name: "ok",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Create(gomock.Any(), create, models.Guest).Return({{ .Variable }}, nil)
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{
					Header: http.Header{
						"Content-Type": []string{"application/json"},
					},
					Body: io.NopCloser(bytes.NewBuffer(createjson)),
				}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBuffer({{ .Variable }}json),
			wantStatus: http.StatusCreated,
		},
		{
			name: "permission denied",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Create(gomock.Any(), create, models.Guest).Return(nil, errs.NewPermissionDenied())
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{
					Header: http.Header{
						"Content-Type": []string{"application/json"},
					},
					Body: io.NopCloser(bytes.NewBuffer(createjson)),
				}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBufferString(errs.NewPermissionDenied().Error()),
			wantStatus: http.StatusForbidden,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			w := httptest.NewRecorder()
			ctx, _ := gin.CreateTestContext(w)
			ctx.Request = tt.args.request
			h.Create(ctx)
			if !reflect.DeepEqual(w.Code, tt.wantStatus) {
				t.Errorf("Create() gotStatus = %v, wantStatus %v", w.Code, tt.wantStatus)
				return
			}
			if !reflect.DeepEqual(w.Body, tt.wantBody) {
				t.Errorf("Create() gotBody = %v, wantBody %v", w.Body, tt.wantBody)
				return
			}
		})
	}
}

func Test{{ .RESTHandlerTypeName }}_Delete(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		request *http.Request
	}
	tests := []struct {
		name       string
		setup      func()
		fields     fields
		args       args
		wantStatus int
		wantBody   *bytes.Buffer
	}{
		{
			name: "ok",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Delete(gomock.Any(), {{ .Variable }}.ID, models.Guest).Return(nil)
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   &bytes.Buffer{},
			wantStatus: http.StatusNoContent,
		},
		{
			name: "permission denied",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Delete(gomock.Any(), {{ .Variable }}.ID, models.Guest).Return(errs.NewPermissionDenied())
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBufferString(errs.NewPermissionDenied().Error()),
			wantStatus: http.StatusForbidden,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			w := httptest.NewRecorder()
			ctx, _ := gin.CreateTestContext(w)
			ctx.Request = tt.args.request
			ctx.AddParam("id", string({{ .Variable }}.ID))
			h.Delete(ctx)
			if !reflect.DeepEqual(w.Code, tt.wantStatus) {
				t.Errorf("Delete() gotStatus = %v, wantStatus %v", w.Code, tt.wantStatus)
				return
			}
			if !reflect.DeepEqual(w.Body, tt.wantBody) {
				t.Errorf("Delete() gotBody = %v, wantBody %v", w.Body, tt.wantBody)
				return
			}
		})
	}
}

func Test{{ .RESTHandlerTypeName }}_Get(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	{{ .Variable }}json, _ := json.Marshal({{ .Variable }})
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		request *http.Request
	}
	tests := []struct {
		name       string
		setup      func()
		fields     fields
		args       args
		wantStatus int
		wantBody   *bytes.Buffer
	}{
		{
			name: "ok",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Get(gomock.Any(), {{ .Variable }}.ID, models.Guest).Return({{ .Variable }}, nil)
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBuffer({{ .Variable }}json),
			wantStatus: http.StatusOK,
		},
		{
			name: "permission denied",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Get(gomock.Any(), {{ .Variable }}.ID, models.Guest).Return(nil, errs.NewPermissionDenied())
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBufferString(errs.NewPermissionDenied().Error()),
			wantStatus: http.StatusForbidden,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			w := httptest.NewRecorder()
			ctx, _ := gin.CreateTestContext(w)
			ctx.Request = tt.args.request
			ctx.AddParam("id", string({{ .Variable }}.ID))
			h.Get(ctx)
			if !reflect.DeepEqual(w.Code, tt.wantStatus) {
				t.Errorf("Get() gotStatus = %v, wantStatus %v", w.Code, tt.wantStatus)
				return
			}
			if !reflect.DeepEqual(w.Body, tt.wantBody) {
				t.Errorf("Get() gotBody = %v, wantBody %v", w.Body, tt.wantBody)
				return
			}
		})
	}
}

func Test{{ .RESTHandlerTypeName }}_List(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	filter := &models.{{ .FilterTypeName }}{}
	{{ .ListVariable }} := []*models.{{ .ModelName }}{mock_models.New{{ .ModelName }}(t)}
	{{ .ListVariable }}json, _ := json.Marshal({{ .ListVariable }})
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		request *http.Request
	}
	tests := []struct {
		name       string
		setup      func()
		fields     fields
		args       args
		wantStatus int
		wantBody   *bytes.Buffer
	}{
		{
			name: "ok",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().List(gomock.Any(), filter, models.Guest).Return({{ .ListVariable }}, uint64(len({{ .ListVariable }})), nil)
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBuffer({{ .ListVariable }}json),
			wantStatus: http.StatusOK,
		},
		{
			name: "permission denied",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().List(gomock.Any(), filter, models.Guest).Return(nil, uint64(0), errs.NewPermissionDenied())
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBufferString(errs.NewPermissionDenied().Error()),
			wantStatus: http.StatusForbidden,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			w := httptest.NewRecorder()
			ctx, _ := gin.CreateTestContext(w)
			ctx.Request = tt.args.request
			h.List(ctx)
			if !reflect.DeepEqual(w.Code, tt.wantStatus) {
				t.Errorf("List() gotStatus = %v, wantStatus %v", w.Code, tt.wantStatus)
				return
			}
			if !reflect.DeepEqual(w.Body, tt.wantBody) {
				t.Errorf("List() gotBody = %v, wantBody %v", w.Body, tt.wantBody)
				return
			}
		})
	}
}

func Test{{ .RESTHandlerTypeName }}_Register(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		router *gin.RouterGroup
	}
	tests := []struct {
		name   string
		fields fields
		args   args
	}{
		{
			name: "ok",
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				router: gin.Default().Group("/"),
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			h.Register(tt.args.router)
		})
	}
}

func Test{{ .RESTHandlerTypeName }}_Update(t *testing.T) {
	gin.SetMode(gin.TestMode)
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	update := mock_models.New{{ .ModelName }}Update(t)
	updatejson, _ := json.Marshal(update)
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	{{ .Variable }}json, _ := json.Marshal({{ .Variable }})
	type fields struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	type args struct {
		request *http.Request
	}
	tests := []struct {
		name       string
		setup      func()
		fields     fields
		args       args
		wantStatus int
		wantBody   *bytes.Buffer
	}{

		{
			name: "ok",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Update(gomock.Any(), update, models.Guest).Return({{ .Variable }}, nil)
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{
					Header: http.Header{
						"Content-Type": []string{"application/json"},
					},
					Body: io.NopCloser(bytes.NewBuffer(updatejson)),
				}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBuffer({{ .Variable }}json),
			wantStatus: http.StatusOK,
		},
		{
			name: "permission denied",
			setup: func() {
				{{ .InterceptorVariableName }}.EXPECT().Update(gomock.Any(), update, models.Guest).Return(nil, errs.NewPermissionDenied())
			},
			fields: fields{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			args: args{
				request: (&http.Request{
					Header: http.Header{
						"Content-Type": []string{"application/json"},
					},
					Body: io.NopCloser(bytes.NewBuffer(updatejson)),
				}).WithContext(context.WithValue(context.Background(), UserContextKey, models.Guest)),
			},
			wantBody:   bytes.NewBufferString(errs.NewPermissionDenied().Error()),
			wantStatus: http.StatusForbidden,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			h := &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: tt.fields.{{ .InterceptorVariableName }},
				logger:          tt.fields.logger,
			}
			w := httptest.NewRecorder()
			ctx, _ := gin.CreateTestContext(w)
			ctx.Request = tt.args.request
			ctx.AddParam("id", string(update.ID))
			h.Update(ctx)
			if !reflect.DeepEqual(w.Code, tt.wantStatus) {
				t.Errorf("Update() gotStatus = %v, wantStatus %v", w.Code, tt.wantStatus)
				return
			}
			if !reflect.DeepEqual(w.Body, tt.wantBody) {
				t.Errorf("Update() gotBody = %v, wantBody %v", w.Body, tt.wantBody)
				return
			}
		})
	}
}

func TestNew{{ .RESTHandlerTypeName }}(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .InterceptorVariableName }} := mock_interceptors.NewMock{{ .InterceptorTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	type args struct {
		{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
		logger          log.Logger
	}
	tests := []struct {
		name string
		args args
		want *{{ .RESTHandlerTypeName }}
	}{
		{
			name: "ok",
			args: args{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
			want: &{{ .RESTHandlerTypeName }}{
				{{ .InterceptorVariableName }}: {{ .InterceptorVariableName }},
				logger:          logger,
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			if got := New{{ .RESTHandlerTypeName }}(tt.args.{{ .InterceptorVariableName }}, tt.args.logger); !reflect.DeepEqual(got, tt.want) {
				t.Errorf("New{{ .RESTHandlerTypeName }}() = %v, want %v", got, tt.want)
			}
		})
	}
}
