package rest

import (
	"fmt"
	"net/http"

	"{{ .Module }}/internal/domain/interceptors"
	"{{ .Module }}/internal/domain/models"
	"{{ .Module }}/pkg/log"
	"github.com/gin-gonic/gin"
)

type {{ .RESTHandlerTypeName }} struct {
	{{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}
	logger          log.Logger
}

func New{{ .RESTHandlerTypeName }}({{ .InterceptorVariableName }} interceptors.{{ .InterceptorTypeName }}, logger log.Logger) *{{ .RESTHandlerTypeName }} {
	return &{{ .RESTHandlerTypeName }}{ {{- .InterceptorVariableName -}}: {{ .InterceptorVariableName }}, logger: logger}
}

func (h *{{ .RESTHandlerTypeName }}) Register(router *gin.RouterGroup) {
	group := router.Group("/{{ .RESTHandlerPath }}")
	group.POST("/", h.Create)
	group.GET("/", h.List)
	group.GET("/:id", h.Get)
	group.PATCH("/:id", h.Update)
	group.DELETE("/:id", h.Delete)
}

// Create        godoc
// @Summary      Store a new {{ .ModelName }}
// @Description  Takes a {{ .ModelName }} JSON and store in DB. Return saved JSON.
// @Tags         {{ .ModelName }}
// @Produce      json
// @Param        {{ .ModelName }}  body   models.{{ .CreateTypeName }}  true  "{{ .ModelName }} JSON"
// @Success      201   {object}  models.{{ .ModelName }}
// @Failure      400   {object}  errs.Error
// @Failure      401   {object}  errs.Error
// @Failure      403   {object}  errs.Error
// @Failure      404   {object}  errs.Error
// @Failure      405   {object}  errs.Error
// @Failure      500   {object}  errs.Error
// @Failure      503   {object}  errs.Error
// @Router       /{{ .RESTHandlerPath }}/ [post]
func (h *{{ .RESTHandlerTypeName }}) Create(ctx *gin.Context) {
{{- if .Auth }}
	requestUser := ctx.Request.Context().Value(UserContextKey).(*models.User)
{{- end }}
	create := &models.{{ .CreateTypeName }}{}
	_ = ctx.Bind(create)
    {{ .Variable }}, err := h.{{ .InterceptorVariableName }}.Create(ctx.Request.Context(), create{{- if .Auth -}}, requestUser{{- end -}})
	if err != nil {
		decodeError(ctx, err)
		return
	}
	ctx.JSON(http.StatusCreated, {{ .Variable }})
}

// List          godoc
// @Summary      List {{ .ModelName }} array
// @Description  Responds with the list of all {{ .ModelName }} as JSON.
// @Tags         {{ .ModelName }}
// @Produce      json
// @Param        filter  query   models.{{ .FilterTypeName }} false "{{ .ModelName }} filter"
// @Success      200  {array}  models.{{ .ModelName }}
// @Failure      400   {object}  errs.Error
// @Failure      401   {object}  errs.Error
// @Failure      403   {object}  errs.Error
// @Failure      404   {object}  errs.Error
// @Failure      405   {object}  errs.Error
// @Failure      500   {object}  errs.Error
// @Failure      503   {object}  errs.Error
// @Router       /{{ .RESTHandlerPath }} [get]
func (h *{{ .RESTHandlerTypeName }}) List(ctx *gin.Context) {
{{- if .Auth }}
	requestUser := ctx.Request.Context().Value(UserContextKey).(*models.User)
{{- end }}
	filter := &models.{{ .FilterTypeName }}{}
	_ = ctx.Bind(filter)
    {{ .ListVariable }}, count, err := h.{{ .InterceptorVariableName }}.List(ctx.Request.Context(), filter{{- if .Auth -}}, requestUser{{- end -}})
	if err != nil {
		decodeError(ctx, err)
		return
	}
	ctx.Header("count", fmt.Sprint(count))
	ctx.JSON(http.StatusOK, {{ .ListVariable }})
}

// Get           godoc
// @Summary      Get single {{ .ModelName }} by UUID
// @Description  Returns the {{ .ModelName }} whose UUID value matches the UUID.
// @Tags         {{ .ModelName }}
// @Produce      json
// @Param        uuid  path      string  true  "search {{ .ModelName }} by UUID"
// @Success      200  {object}  models.{{ .ModelName }}
// @Failure      400   {object}  errs.Error
// @Failure      401   {object}  errs.Error
// @Failure      403   {object}  errs.Error
// @Failure      404   {object}  errs.Error
// @Failure      405   {object}  errs.Error
// @Failure      500   {object}  errs.Error
// @Failure      503   {object}  errs.Error
// @Router       /{{ .RESTHandlerPath }}/{uuid} [get]
func (h *{{ .RESTHandlerTypeName }}) Get(ctx *gin.Context) {
{{- if .Auth }}
	requestUser := ctx.Request.Context().Value(UserContextKey).(*models.User)
{{- end }}
    {{ .Variable }}, err := h.{{ .InterceptorVariableName }}.Get(ctx.Request.Context(), models.UUID(ctx.Param("id")){{- if .Auth -}}, requestUser{{- end -}})
	if err != nil {
		decodeError(ctx, err)
		return
	}
	ctx.JSON(http.StatusOK, {{ .Variable }})
}

// Update        godoc
// @Summary      Update {{ .ModelName }} by UUID
// @Description  Returns the updated {{ .ModelName }}.
// @Tags         {{ .ModelName }}
// @Produce      json
// @Param        uuid  path      string  true  "update {{ .ModelName }} by UUID"
// @Param        {{ .ModelName }}  body   models.{{ .UpdateTypeName }}  true  "{{ .ModelName }} JSON"
// @Success      201  {object}  models.{{ .ModelName }}
// @Failure      400   {object}  errs.Error
// @Failure      401   {object}  errs.Error
// @Failure      403   {object}  errs.Error
// @Failure      404   {object}  errs.Error
// @Failure      405   {object}  errs.Error
// @Failure      500   {object}  errs.Error
// @Failure      503   {object}  errs.Error
// @Router       /{{ .RESTHandlerPath }}/{uuid} [PATCH]
func (h *{{ .RESTHandlerTypeName }}) Update(ctx *gin.Context) {
{{- if .Auth }}
	requestUser := ctx.Request.Context().Value(UserContextKey).(*models.User)
{{- end }}
	update := &models.{{ .UpdateTypeName }}{}
	_ = ctx.Bind(update)
	update.ID = models.UUID(ctx.Param("id"))
    {{ .Variable }}, err := h.{{ .InterceptorVariableName }}.Update(ctx.Request.Context(), update{{- if .Auth -}}, requestUser{{- end -}})
	if err != nil {
		decodeError(ctx, err)
		return
	}
	ctx.JSON(http.StatusOK, {{ .Variable }})
}

// Delete        godoc
// @Summary      Delete single {{ .ModelName }} by UUID
// @Description  Delete the {{ .ModelName }} whose UUID value matches the UUID.
// @Tags         {{ .ModelName }}
// @Param        uuid  path      string  true  "delete {{ .ModelName }} by UUID"
// @Success      204
// @Failure      400   {object}  errs.Error
// @Failure      401   {object}  errs.Error
// @Failure      403   {object}  errs.Error
// @Failure      404   {object}  errs.Error
// @Failure      405   {object}  errs.Error
// @Failure      500   {object}  errs.Error
// @Failure      503   {object}  errs.Error
// @Router       /{{ .RESTHandlerPath }}/{uuid} [delete]
func (h *{{ .RESTHandlerTypeName }}) Delete(ctx *gin.Context) {
{{- if .Auth }}
	requestUser := ctx.Request.Context().Value(UserContextKey).(*models.User)
{{- end }}
	err := h.{{ .InterceptorVariableName }}.Delete(ctx.Request.Context(), models.UUID(ctx.Param("id")){{- if .Auth -}}, requestUser{{- end -}})
	if err != nil {
		decodeError(ctx, err)
		return
	}
	ctx.JSON(http.StatusNoContent, nil)
}
