package rest

import (
    "context"
    "{{ .Module }}/internal/configs"
    "net/http"

    "{{ .Module }}/pkg/log"
    "github.com/gin-gonic/gin"
)

type ctxKey string

const (
{{- if .Auth }}
    UserContextKey      ctxKey = "user"
{{- end }}
    RequestIDContextKey ctxKey = "request_id"
)

type Server struct {
    router *gin.Engine
    config *configs.Config
    logger log.Logger
}

// NewServer        godoc
// @title           {{ .Name }}
// @version         0.1.0
// @description     TBD
// @host      127.0.0.1:8000
// @BasePath  /api/v1
func NewServer(
    logger log.Logger,
    config *configs.Config,
{{- if .Auth }}
    authMiddleware *AuthMiddleware,
    authHandler *AuthHandler,
    userHandler *UserHandler,
{{- end }}
) *Server {
    router := gin.Default()
{{- if .Auth }}
    router.Use(authMiddleware.Middleware())
{{- end }}
    router.Use(RequestMiddleware)
    router.GET("/", func(c *gin.Context) {
        c.Status(http.StatusOK)
    })
    router.GET("/health", func(c *gin.Context) {
        c.JSON(http.StatusOK, gin.H{
            "message": "ok",
        })
    })
    apiV1 := router.Group("api").Group("v1")
{{- if .Auth }}
    authHandler.Register(apiV1)
    userHandler.Register(apiV1)
{{- else }}
    _ = apiV1
{{- end }}
    return &Server{
        router: router,
        config: config,
        logger: logger,
    }
}

func(s *Server) Start(_ context.Context) error {
    return http.ListenAndServe(s.config.BindAddr, s.router)
}

func(s *Server) Stop(_ context.Context) error {
    return nil
}