package interceptors

import (
	"context"

	"{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/{{ .MockFileName }} {{ .Module }}/internal/domain/interceptors {{ .InterceptorTypeName }}

{{- $user := "" -}}
{{- if .Auth -}}
	{{- $user = ", requestUser *models.User" -}}
{{- end }}

type {{ .InterceptorTypeName }} interface {
	Get(ctx context.Context, id string{{$user}}) (*models.{{ .ModelName }}, error)
	List(ctx context.Context, filter *models.{{ .FilterTypeName }}{{$user}}) ([]*models.{{ .ModelName }}, uint64, error)
	Create(ctx context.Context, create *models.{{ .CreateTypeName }}{{$user}}) (*models.{{ .ModelName }}, error)
	Update(ctx context.Context, update *models.{{ .UpdateTypeName }}{{$user}}) (*models.{{ .ModelName }}, error)
	Delete(ctx context.Context, id string{{$user}}) error
}
