package interceptors

import (
	"context"

	"{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -destination mock/{{ .Model | ToLower }}_mock.go {{ .Module }}/internal/domain/interceptors {{ .Model }}Interceptor

{{- $user := "" -}}
{{- if .Auth -}}
	{{- $user = ", requestUser *models.User" -}}
{{- end }}

type {{ .Model }}Interceptor interface {
	Get(ctx context.Context, id string{{$user}}) (*models.{{ .Model }}, error)
	List(ctx context.Context, filter *models.{{ .Model }}Filter{{$user}}) ([]*models.{{ .Model }}, uint64, error)
	Create(ctx context.Context, create *models.{{ .Model }}Create{{$user}}) (*models.{{ .Model }}, error)
	Update(ctx context.Context, update *models.{{ .Model }}Update{{$user}}) (*models.{{ .Model }}, error)
	Delete(ctx context.Context, id string{{$user}}) error
}
