package mock_models

import (
	"{{ .Module }}/internal/domain/models"
	"{{ .Module }}/pkg/utils"
	"syreclabs.com/go/faker"
	"github.com/google/uuid"
	"testing"
)

func New{{ .ModelName }}(t *testing.T) *models.{{ .ModelName }} {
	t.Helper()
	return &models.{{ .ModelName }}{
		ID:         uuid.New().String(),
	}
}

func New{{ .CreateTypeName }}(t *testing.T) *models.{{ .CreateTypeName }} {
	t.Helper()
	return &models.{{ .CreateTypeName }}{}
}

func New{{ .UpdateTypeName }}(t *testing.T) *models.{{ .UpdateTypeName }} {
	t.Helper()
	return &models.{{ .UpdateTypeName }}{
		ID: uuid.New().String(),
	}
}

func New{{ .FilterTypeName }}(t *testing.T) *models.{{ .FilterTypeName }} {
	t.Helper()
	return &models.{{ .FilterTypeName }}{
		PageSize:   utils.Pointer(uint64(faker.RandomInt64(2, 100))),
		PageNumber: utils.Pointer(uint64(faker.RandomInt64(2, 100))),
		OrderBy:    faker.Lorem().Words(5),
		IDs:        []string{uuid.New().String(), uuid.New().String(), uuid.New().String()},
	}
}
