package usecases

import (
	"context"

	"{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -destination mock/{{ .Model | ToLower }}_mock.go {{ .Module }}/internal/domain/usecases {{ .Model }}UseCase

type {{ .Model }}UseCase interface {
	Get(ctx context.Context, id string) (*models.{{ .Model }}, error)
	List(ctx context.Context, filter *models.{{ .Model }}Filter) ([]*models.{{ .Model }}, uint64, error)
	Create(ctx context.Context, create *models.{{ .Model }}Create) (*models.{{ .Model }}, error)
	Update(ctx context.Context, update *models.{{ .Model }}Update) (*models.{{ .Model }}, error)
	Delete(ctx context.Context, id string) error
}
