package containers

import (
    "context"
{{- if .GRPCEnabled }}
	grpcInterface "{{ .Module }}/internal/interfaces/grpc"
{{- end }}
{{- if .GatewayEnabled }}
	gatewayInterface "{{ .Module }}/internal/interfaces/gateway"
{{- end }}
	postgresInterface "{{ .Module }}/internal/interfaces/postgres"
{{- if .RESTEnabled }}
	restInterface "{{ .Module }}/internal/interfaces/rest"
{{- end }}
	jwtRepositories "{{ .Module }}/internal/repositories/jwt"
	postgresRepositories "{{ .Module }}/internal/repositories/postgres"

    "{{ .Module }}/pkg/log"
    "go.uber.org/fx/fxevent"

    "{{ .Module }}/internal/interceptors"
    "{{ .Module }}/internal/usecases"

    "{{ .Module }}/pkg/clock"

    "{{ .Module }}/internal/configs"
    "go.uber.org/fx"
)
