package containers

import (
    "context"
{{- if .GRPCEnabled }}
	grpcInterface "{{ .Module }}/internal/interfaces/grpc"
{{- end }}
	postgresInterface "{{ .Module }}/internal/interfaces/postgres"
{{- if .RESTEnabled }}
	restInterface "{{ .Module }}/internal/interfaces/rest"
{{- end }}
	jwtRepositories "{{ .Module }}/internal/repositories/jwt"
	postgresRepositories "{{ .Module }}/internal/repositories/postgres"

    "{{ .Module }}/pkg/log"
    "go.uber.org/fx/fxevent"

    "{{ .Module }}/internal/interceptors"
    "{{ .Module }}/internal/usecases"

    "{{ .Module }}/pkg/clock"

    "{{ .Module }}/internal/configs"
    "go.uber.org/fx"
)

var FXModule = fx.Options(
    fx.WithLogger(
        func(logger log.Logger) fxevent.Logger {
            return logger
        },
    ),
	fx.Provide(
        context.Background,
        configs.ParseConfig,
        clock.NewRealClock,
        postgresInterface.NewDatabase,
        postgresInterface.NewMigrateManager,
{{- if .GRPCEnabled }}
        grpcInterface.NewServer,
{{- end }}
{{- if .RESTEnabled }}
        restInterface.NewServer,
{{- end }}
        func(config *configs.Config) (log.Logger, error) {
            return log.NewLog(config.LogLevel)
        },
{{- if .Auth }}
        usecases.NewAuthUseCase,
        interceptors.NewAuthInterceptor,
        jwtRepositories.NewAuthRepository,
        postgresRepositories.NewPermissionRepository,
{{- if .GRPCEnabled }}
        grpcInterface.NewAuthMiddleware,
        grpcInterface.NewAuthServiceServer,
        grpcInterface.NewUserServiceServer,
{{- end }}
{{- if .RESTEnabled }}
        restInterface.NewAuthHandler,
        restInterface.NewAuthMiddleware,
        restInterface.NewUserHandler,

{{- end }}
        usecases.NewUserUseCase,
        interceptors.NewUserInterceptor,
        postgresRepositories.NewPostgresUserRepository,
{{- end }}
    ),
)
{{- if .GRPCEnabled }}
func NewGRPC{{ .Name | Title }}(config string) *fx.App {
    app := fx.New(
        fx.Provide(func() string { return config }),
        FXModule,
		fx.Invoke(func(lifecycle fx.Lifecycle, server *grpcInterface.Server) {
			lifecycle.Append(fx.Hook{
				OnStart: server.Start,
				OnStop:  server.Stop,
			})
		}),
    )
    return app
}
{{- end }}

{{- if .RESTEnabled }}
func NewREST{{ .Name | Title }}(config string) *fx.App {
    app := fx.New(
        fx.Provide(func() string { return config }),
        FXModule,
		fx.Invoke(func(lifecycle fx.Lifecycle, server *restInterface.Server) {
			lifecycle.Append(fx.Hook{
				OnStart: server.Start,
				OnStop:  server.Stop,
			})
		}),
    )
    return app
}
{{- end }}

func NewMigrate(config string) *fx.App {
	app := fx.New(
		fx.Provide(func() string { return config }),
        FXModule,
        fx.Invoke(func(lifecycle fx.Lifecycle, manager *postgresInterface.MigrateManager) {
            lifecycle.Append(fx.Hook{
                OnStart: manager.Up,
            })
        }),
	)
	return app
}
