package repositories

import (
{{- if .Auth }}
    "{{ .Module }}/internal/repositories/jwt"
    "{{ .Module }}/internal/repositories/postgres"
{{- end }}
    "go.uber.org/fx"
)

var FXModule = fx.Options(
    fx.Provide(
{{- if .Auth }}
        jwt.NewAuthRepository,
        postgres.NewPostgresUserRepository,
        postgres.NewPermissionRepository,
{{- end }}
    ),
)
