package events

import (
	"context"
	"encoding/json"
	"errors"
	"reflect"
	"testing"

	"github.com/IBM/sarama"
	entities "{{ .Module }}/internal/app/{{ .AppName }}/entities/{{ .DirName }}"
	"{{ .Module }}/internal/pkg/errs"
	"{{ .Module }}/internal/pkg/uuid"
	"github.com/stretchr/testify/assert"
	"go.uber.org/mock/gomock"
)

func Test{{ .EventProducerConstructorName }}(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	mockLogger := NewMocklogger(ctrl)
	mockProducer := NewMockproducer(ctrl)
	type args struct {
		producer producer
		logger   logger
	}
	tests := []struct {
		name string
		args args
		want *{{ .EventProducerTypeName }}
	}{
		{
			name: "ok",
			args: args{
				producer: mockProducer,
				logger:   mockLogger,
			},
			want: &{{ .EventProducerTypeName }}{
				producer: mockProducer,
				logger:   mockLogger,
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			if got := {{ .EventProducerConstructorName }}(tt.args.producer, tt.args.logger); !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{ .EventProducerConstructorName }}() = %v, want %v", got, tt.want)
			}
		})
	}
}

func Test{{ .EventProducerTypeName }}_Created(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	mockLogger := NewMocklogger(ctrl)
	mockProducer := NewMockproducer(ctrl)
	ctx := context.Background()
	{{ .GetOneVariableName }} := entities.NewMock{{ .GetMainModel.Name }}(t)
	type fields struct {
		producer producer
		logger   logger
	}
	type args struct {
		ctx     context.Context
		{{ .GetOneVariableName }} entities.{{ .GetMainModel.Name }}
	}
	tests := []struct {
		name    string
		fields  fields
		args    args
		setup   func()
		wantErr error
	}{
		{
			name: "ok",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx:     ctx,
				{{ .GetOneVariableName }}: {{ .GetOneVariableName }},
			},
			setup: func() {
				data, _ := json.Marshal({{ .GetOneVariableName }})
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventCreated,
					Value: data,
				}).Return(nil)
			},
			wantErr: nil,
		},
		{
			name: "send error",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx:     ctx,
				{{ .GetOneVariableName }}: {{ .GetOneVariableName }},
			},
			setup: func() {
				data, _ := json.Marshal({{ .GetOneVariableName }})
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventCreated,
					Value: data,
				}).Return(errors.New("test error"))
			},
			wantErr: errs.FromKafkaError(errors.New("test error")),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			p := &{{ .EventProducerTypeName }}{
				producer: tt.fields.producer,
				logger:   tt.fields.logger,
			}
			err := p.Created(tt.args.ctx, tt.args.{{ .GetOneVariableName }})
			assert.ErrorIs(t, err, tt.wantErr)
		})
	}
}

func Test{{ .EventProducerTypeName }}_Updated(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	mockLogger := NewMocklogger(ctrl)
	mockProducer := NewMockproducer(ctrl)
	ctx := context.Background()
	{{ .GetOneVariableName }} := entities.NewMock{{ .GetMainModel.Name }}(t)
	type fields struct {
		producer producer
		logger   logger
	}
	type args struct {
		ctx     context.Context
		{{ .GetOneVariableName }} entities.{{ .GetMainModel.Name }}
	}
	tests := []struct {
		name    string
		fields  fields
		args    args
		setup   func()
		wantErr error
	}{
		{
			name: "ok",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx:     ctx,
				{{ .GetOneVariableName }}: {{ .GetOneVariableName }},
			},
			setup: func() {
				data, _ := json.Marshal({{ .GetOneVariableName }})
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventUpdated,
					Value: data,
				}).Return(nil)
			},
			wantErr: nil,
		},
		{
			name: "send error",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx:     ctx,
				{{ .GetOneVariableName }}: {{ .GetOneVariableName }},
			},
			setup: func() {
				data, _ := json.Marshal({{ .GetOneVariableName }})
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventUpdated,
					Value: data,
				}).Return(errors.New("test error"))
			},
			wantErr: errs.FromKafkaError(errors.New("test error")),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			p := &{{ .EventProducerTypeName }}{
				producer: tt.fields.producer,
				logger:   tt.fields.logger,
			}
			err := p.Updated(tt.args.ctx, tt.args.{{ .GetOneVariableName }})
			assert.ErrorIs(t, err, tt.wantErr)
		})
	}
}

func Test{{ .EventProducerTypeName }}_Deleted(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	mockLogger := NewMocklogger(ctrl)
	mockProducer := NewMockproducer(ctrl)
	ctx := context.Background()
	{{ .GetOneVariableName }} := entities.NewMock{{ .GetMainModel.Name }}(t)
	type fields struct {
		producer producer
		logger   logger
	}
	type args struct {
		ctx context.Context
		id  uuid.UUID
	}
	tests := []struct {
		name    string
		fields  fields
		args    args
		setup   func()
		wantErr error
	}{
		{
			name: "ok",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .GetOneVariableName }}.ID,
			},
			setup: func() {
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventDeleted,
					Value: sarama.ByteEncoder({{ .GetOneVariableName }}.ID.String()),
				}).Return(nil)
			},
			wantErr: nil,
		},
		{
			name: "send error",
			fields: fields{
				producer: mockProducer,
				logger:   mockLogger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .GetOneVariableName }}.ID,
			},
			setup: func() {
				mockProducer.EXPECT().Send(gomock.Any(), &kafka.Message{
					Topic: topicEventDeleted,
					Value: []byte({{ .GetOneVariableName }}.ID.String()),
				}).Return(errors.New("test error"))
			},
			wantErr: errs.FromKafkaError(errors.New("test error")),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			p := &{{ .EventProducerTypeName }}{
				producer: tt.fields.producer,
				logger:   tt.fields.logger,
			}
			err := p.Deleted(tt.args.ctx, tt.args.id)
			assert.ErrorIs(t, err, tt.wantErr)
		})
	}
}
