package interceptors

import (
    "context"

    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/auth_mock.go {{ .Module }}/internal/domain/interceptors AuthInterceptor

type AuthInterceptor interface {
    CreateToken(
        ctx context.Context,
        login *models.Login,
    ) (*models.TokenPair, *errs.Error)
    RefreshToken(
        ctx context.Context,
        refresh models.Token,
    ) (*models.TokenPair, *errs.Error)
    Auth(
        ctx context.Context,
        access models.Token,
    ) (*models.User, *errs.Error)
    ValidateToken(
        ctx context.Context,
        access models.Token,
    ) *errs.Error
}
