package interceptors

import (
    "context"

    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/{{ .MockFileName }} {{ .Module }}/internal/domain/interceptors {{ .InterceptorTypeName }}
