package interceptors

import (
    "context"

    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/user_mock.go {{ .Module }}/internal/domain/interceptors UserInterceptor

type UserInterceptor interface {
    Get(
        ctx context.Context,
        id string,
        requestUser *models.User,
    ) (*models.User, *errs.Error)
    List(
        ctx context.Context,
        filter *models.UserFilter,
        requestUser *models.User,
    ) ([]*models.User, uint64, *errs.Error)
    Create(
        ctx context.Context,
        create *models.UserCreate,
        requestUser *models.User,
    ) (*models.User, *errs.Error)
    Update(
        ctx context.Context,
        update *models.UserUpdate,
        requestUser *models.User,
    ) (*models.User, *errs.Error)
    Delete(
        ctx context.Context,
        id string,
        requestUser *models.User,
    ) *errs.Error
}
