package usecases

import (
	"context"
	"errors"
	"reflect"
	"testing"
	"time"

	"{{ .Module }}/internal/domain/errs"
	"{{ .Module }}/internal/domain/models"
	mock_models "{{ .Module }}/internal/domain/models/mock"
	mock_repositories "{{ .Module }}/internal/domain/repositories/mock"
	mock_clock "{{ .Module }}/pkg/clock/mock"
	mock_log "{{ .Module }}/pkg/log/mock"
	"{{ .Module }}/internal/domain/repositories"
	"{{ .Module }}/internal/domain/usecases"
	"{{ .Module }}/pkg/log"
	"{{ .Module }}/pkg/clock"
	"github.com/golang/mock/gomock"
	"syreclabs.com/go/faker"
)

func TestNew{{ .UseCaseTypeName }}(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	clockMock := mock_clock.NewMockClock(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	type args struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		clock  clock.Clock
		logger log.Logger
	}
	tests := []struct {
		name  string
		setup func()
		args  args
		want  usecases.{{ .UseCaseTypeName }}
	}{
		{
			name: "ok",
			setup: func() {
			},
			args: args{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:  clockMock,
				logger: logger,
			},
			want: &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:  clockMock,
				logger: logger,
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			if got := New{{ .UseCaseTypeName }}(tt.args.{{ .RepositoryVariableName }}, tt.args.clock, tt.args.logger); !reflect.DeepEqual(got, tt.want) {
				t.Errorf("New{{ .UseCaseTypeName }}() = %v, want %v", got, tt.want)
			}
		})
	}
}

func Test{{ .UseCaseTypeName }}_Get(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	ctx := context.Background()
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	type fields struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		logger           log.Logger
	}
	type args struct {
		ctx context.Context
		id  string
	}
	tests := []struct {
		name    string
		setup   func()
		fields  fields
		args    args
		want    *models.{{ .ModelName }}
		wantErr error
	}{
		{
			name: "ok",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().Get(ctx, {{ .Variable }}.ID).Return({{ .Variable }}, nil)
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .Variable }}.ID,
			},
			want:    {{ .Variable }},
			wantErr: nil,
		},
		{
			name: "{{ .ModelName }} not found",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().Get(ctx, {{ .Variable }}.ID).Return(nil, errs.NewEntityNotFound())
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .Variable }}.ID,
			},
			want:    nil,
			wantErr: errs.NewEntityNotFound(),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			u := &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
				logger:           tt.fields.logger,
			}
			got, err := u.Get(tt.args.ctx, tt.args.id)
			if !errors.Is(err, tt.wantErr) {
				t.Errorf("{{ .UseCaseTypeName }}.Get() error = %v, wantErr %v", err, tt.wantErr)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{ .UseCaseTypeName }}.Get() = %v, want %v", got, tt.want)
			}
		})
	}
}

func Test{{ .UseCaseTypeName }}_List(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	ctx := context.Background()
	var {{ .ListVariable }} []*models.{{ .ModelName }}
	count := uint64(faker.Number().NumberInt(2))
	for i := uint64(0); i < count; i++ {
		{{ .ListVariable }} = append({{ .ListVariable }}, mock_models.New{{ .ModelName }}(t))
	}
	filter := mock_models.New{{ .FilterTypeName }}(t)
	type fields struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		logger           log.Logger
	}
	type args struct {
		ctx    context.Context
		filter *models.{{ .FilterTypeName }}
	}
	tests := []struct {
		name    string
		setup   func()
		fields  fields
		args    args
		want    []*models.{{ .ModelName }}
		want1   uint64
		wantErr error
	}{
		{
			name: "ok",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().List(ctx, filter).Return({{ .ListVariable }}, nil)
				{{ .RepositoryVariableName }}.EXPECT().Count(ctx, filter).Return(count, nil)
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx:    ctx,
				filter: filter,
			},
			want:    {{ .ListVariable }},
			want1:   count,
			wantErr: nil,
		},
		{
			name: "list error",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().List(ctx, filter).Return(nil, errs.NewUnexpectedBehaviorError("test error"))
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx:    ctx,
				filter: filter,
			},
			want:    nil,
			want1:   0,
			wantErr: errs.NewUnexpectedBehaviorError("test error"),
		},
		{
			name: "count error",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().List(ctx, filter).Return({{ .ListVariable }}, nil)
				{{ .RepositoryVariableName }}.EXPECT().Count(ctx, filter).Return(uint64(0), errs.NewUnexpectedBehaviorError("test error"))
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx:    ctx,
				filter: filter,
			},
			want:    nil,
			want1:   0,
			wantErr: errs.NewUnexpectedBehaviorError("test error"),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			u := &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
				logger:           tt.fields.logger,
			}
			got, got1, err := u.List(tt.args.ctx, tt.args.filter)
			if !errors.Is(err, tt.wantErr) {
				t.Errorf("{{ .UseCaseTypeName }}.List() error = %v, wantErr %v", err, tt.wantErr)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{ .UseCaseTypeName }}.List() = %v, want %v", got, tt.want)
			}
			if got1 != tt.want1 {
				t.Errorf("{{ .UseCaseTypeName }}.List() got1 = %v, want %v", got1, tt.want1)
			}
		})
	}
}

func Test{{ .UseCaseTypeName }}_Create(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	clockMock := mock_clock.NewMockClock(ctrl)
	ctx := context.Background()
    create := mock_models.New{{ .CreateTypeName }}(t)
	now := time.Now().UTC()
	type fields struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		clock            clock.Clock
		logger           log.Logger
	}
	type args struct {
		ctx    context.Context
		create *models.{{ .CreateTypeName }}
	}
	tests := []struct {
		name    string
		setup   func()
		fields  fields
		args    args
		want    *models.{{ .ModelName }}
		wantErr error
	}{
		{
			name: "ok",
			setup: func() {
				clockMock.EXPECT().Now().Return(now)
				{{ .RepositoryVariableName }}.EXPECT().
					Create(
						ctx,
						&models.{{ .ModelName }}{
{{- range $key, $value := .Params }}
							{{ $key.Name }}: create.{{ $key.Name }},
{{- end }}
							UpdatedAt: now,
							CreatedAt: now,
						},
					).
					Return(nil)
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				create: create,
			},
			want: &models.{{ .ModelName }}{
				ID: "",
{{- range $key, $value := .Params }}
				{{ $key.Name }}: create.{{ $key.Name }},
{{- end }}
				UpdatedAt: now,
				CreatedAt: now,
			},
			wantErr: nil,
		},
		{
			name: "unexpected behavior",
			setup: func() {
				clockMock.EXPECT().Now().Return(now)
				{{ .RepositoryVariableName }}.EXPECT().
					Create(
						ctx,
						&models.{{ .ModelName }}{
							ID: "",
{{- range $key, $value := .Params }}
							{{ $key.Name }}: create.{{ $key.Name }},
{{- end }}
							UpdatedAt: now,
							CreatedAt: now,
						},
					).
					Return(errs.NewUnexpectedBehaviorError("test error"))
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				create: create,
			},
			want:    nil,
			wantErr: errs.NewUnexpectedBehaviorError("test error"),
		},
		// TODO: Add validation rules or delete this case
		//{
		//	name: "invalid",
		//	setup: func() {
		//	},
		//	fields: fields{
		//		{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
		//		logger:           logger,
		//	},
		//	args: args{
		//		ctx: ctx,
		//		create: &models.{{ .CreateTypeName }}{},
		//	},
		//	want: nil,
		//	wantErr: errs.NewInvalidFormError().WithParam("set", "it"),
		//},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			u := &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
				clock:            tt.fields.clock,
				logger:           tt.fields.logger,
			}
			got, err := u.Create(tt.args.ctx, tt.args.create)
			if !errors.Is(err, tt.wantErr) {
				t.Errorf("{{ .UseCaseTypeName }}.Create() error = %v, wantErr %v", err, tt.wantErr)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{ .UseCaseTypeName }}.Create() = %v, want %v", got, tt.want)
			}
		})
	}
}

func Test{{ .UseCaseTypeName }}_Update(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	ctx := context.Background()
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	clockMock := mock_clock.NewMockClock(ctrl)
	update := mock_models.New{{ .UpdateTypeName }}(t)
	now := {{ .Variable }}.UpdatedAt
	type fields struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		clock            clock.Clock
		logger           log.Logger
	}
	type args struct {
		ctx    context.Context
		update *models.{{ .UpdateTypeName }}
	}
	tests := []struct {
		name    string
		setup   func()
		fields  fields
		args    args
		want    *models.{{ .ModelName }}
		wantErr error
	}{
		{
			name: "ok",
			setup: func() {
				clockMock.EXPECT().Now().Return(now)
				{{ .RepositoryVariableName }}.EXPECT().
					Get(ctx, update.ID).Return({{ .Variable }}, nil)
				{{ .RepositoryVariableName }}.EXPECT().
					Update(ctx, {{ .Variable }}).Return(nil)
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				update: update,
			},
			want:    {{ .Variable }},
			wantErr: nil,
		},
		{
			name: "update error",
			setup: func() {
				clockMock.EXPECT().Now().Return(now)
				{{ .RepositoryVariableName }}.EXPECT().
					Get(ctx, update.ID).
					Return({{ .Variable }}, nil)
				{{ .RepositoryVariableName }}.EXPECT().
					Update(ctx, {{ .Variable }}).
					Return(errs.NewUnexpectedBehaviorError("test error"))
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				update: update,
			},
			want:    nil,
			wantErr: errs.NewUnexpectedBehaviorError("test error"),
		},
		{
			name: "{{ .ModelName }} not found",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().Get(ctx, update.ID).Return(nil, errs.NewEntityNotFound())
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				update: update,
			},
			want:    nil,
			wantErr: errs.NewEntityNotFound(),
		},
		{
			name: "invalid",
			setup: func() {
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				clock:            clockMock,
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				update: &models.{{ .UpdateTypeName }}{
					ID:   faker.Number().Number(1),
				},
			},
			want: nil,
			wantErr: errs.NewInvalidFormError().WithParam("id", "must be a valid UUID"),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			u := &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
				clock:            tt.fields.clock,
				logger:           tt.fields.logger,
			}
			got, err := u.Update(tt.args.ctx, tt.args.update)
			if !errors.Is(err, tt.wantErr) {
				t.Errorf("{{ .UseCaseTypeName }}.Update() error = %v, wantErr %v", err, tt.wantErr)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{ .UseCaseTypeName }}.Update() = %v, want %v", got, tt.want)
			}
		})
	}
}

func Test{{ .UseCaseTypeName }}_Delete(t *testing.T) {
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	{{ .RepositoryVariableName }} := mock_repositories.NewMock{{ .RepositoryTypeName }}(ctrl)
	logger := mock_log.NewMockLogger(ctrl)
	ctx := context.Background()
	{{ .Variable }} := mock_models.New{{ .ModelName }}(t)
	type fields struct {
		{{ .RepositoryVariableName }} repositories.{{ .RepositoryTypeName }}
		logger           log.Logger
	}
	type args struct {
		ctx context.Context
		id  string
	}
	tests := []struct {
		name    string
		setup   func()
		fields  fields
		args    args
		wantErr error
	}{
		{
			name: "ok",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().
					Delete(ctx, {{ .Variable }}.ID).
					Return(nil)
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .Variable }}.ID,
			},
			wantErr: nil,
		},
		{
			name: "{{ .ModelName }} not found",
			setup: func() {
				{{ .RepositoryVariableName }}.EXPECT().
					Delete(ctx, {{ .Variable }}.ID).
					Return(errs.NewEntityNotFound())
			},
			fields: fields{
				{{ .RepositoryVariableName }}: {{ .RepositoryVariableName }},
				logger:           logger,
			},
			args: args{
				ctx: ctx,
				id:  {{ .Variable }}.ID,
			},
			wantErr: errs.NewEntityNotFound(),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			tt.setup()
			u := &{{ .UseCaseTypeName }}{
				{{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
				logger:           tt.fields.logger,
			}
			if err := u.Delete(tt.args.ctx, tt.args.id); !errors.Is(err, tt.wantErr) {
				t.Errorf("{{ .UseCaseTypeName }}.Delete() error = %v, wantErr %v", err, tt.wantErr)
			}
		})
	}
}
