package services

import (
    "context"
    "testing"
    "time"

    "{{ .Module }}/internal/pkg/errs"
    "{{ .Module }}/internal/app/{{ .AppName }}/entities/{{ .DirName }}"
    "{{ .Module }}/internal/pkg/uuid"
    "go.uber.org/mock/gomock"
    "github.com/jaswdr/faker"
    "github.com/stretchr/testify/assert"
)

func TestNew{{ .ServiceTypeName }}(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockClock := NewMockclock(ctrl)
    mockLogger := NewMocklogger(ctrl)
    mockUUID := NewMockuuidGenerator(ctrl)
    type args struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        clock  clock
        logger logger
        uuid   uuidGenerator
    }
    tests := []struct {
        name  string
        setup func()
        args  args
        want  *{{ .ServiceTypeName }}
    }{
        {
            name: "ok",
            setup: func() {
            },
            args: args{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:  mockClock,
                logger: mockLogger,
                uuid:   mockUUID,
            },
            want: &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:  mockClock,
                logger: mockLogger,
                uuid:   mockUUID,
            },
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            got := New{{ .ServiceTypeName }}(tt.args.{{ .RepositoryVariableName }}, tt.args.clock, tt.args.logger, tt.args.uuid)
            assert.Equal(t, tt.want, got)
        })
    }
}

func Test{{ .ServiceTypeName }}_Get(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockLogger := NewMocklogger(ctrl)
    ctx := context.Background()
    {{ .Variable }} := entities.NewMock{{ .EntityName }}(t)
    type fields struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        logger           logger
    }
    type args struct {
        ctx context.Context
        id  uuid.UUID
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    entities.{{ .EntityName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().Get(ctx, {{ .Variable }}.ID).Return({{ .Variable }}, nil)
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Variable }}.ID,
            },
            want:    {{ .Variable }},
            wantErr: nil,
        },
        {
            name: "{{ .EntityName }} not found",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().Get(ctx, {{ .Variable }}.ID).Return(entities.{{ .EntityName }}{}, errs.NewEntityNotFoundError())
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Variable }}.ID,
            },
            want:    entities.{{ .EntityName }}{},
            wantErr: errs.NewEntityNotFoundError(),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            u := &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
                logger:           tt.fields.logger,
            }
            got, err := u.Get(tt.args.ctx, tt.args.id)
            assert.ErrorIs(t, err, tt.wantErr)
            assert.Equal(t, tt.want, got)
        })
    }
}

func Test{{ .ServiceTypeName }}_List(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockLogger := NewMocklogger(ctrl)
    ctx := context.Background()
    var {{ .ListVariable }} []entities.{{ .EntityName }}
    count := faker.New().UInt64Between(2, 20)
    for i := uint64(0); i < count; i++ {
        {{ .ListVariable }} = append({{ .ListVariable }}, entities.NewMock{{ .EntityName }}(t))
    }
    filter := entities.NewMock{{ .FilterTypeName }}(t)
    type fields struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        logger           logger
    }
    type args struct {
        ctx    context.Context
        filter entities.{{ .FilterTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    []entities.{{ .EntityName }}
        want1   uint64
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().List(ctx, filter).Return({{ .ListVariable }}, nil)
                mock{{ .RepositoryTypeName }}.EXPECT().Count(ctx, filter).Return(count, nil)
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx:    ctx,
                filter: filter,
            },
            want:    {{ .ListVariable }},
            want1:   count,
            wantErr: nil,
        },
        {
            name: "list error",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().List(ctx, filter).Return([]entities.{{ .EntityName }}{}, errs.NewUnexpectedBehaviorError("test error"))
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx:    ctx,
                filter: filter,
            },
            want:    nil,
            want1:   0,
            wantErr: errs.NewUnexpectedBehaviorError("test error"),
        },
        {
            name: "count error",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().List(ctx, filter).Return({{ .ListVariable }}, nil)
                mock{{ .RepositoryTypeName }}.EXPECT().Count(ctx, filter).Return(uint64(0), errs.NewUnexpectedBehaviorError("test error"))
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx:    ctx,
                filter: filter,
            },
            want:    nil,
            want1:   0,
            wantErr: errs.NewUnexpectedBehaviorError("test error"),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            u := &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
                logger:           tt.fields.logger,
            }
            got, got1, err := u.List(tt.args.ctx, tt.args.filter)
            assert.ErrorIs(t, err, tt.wantErr)
            assert.Equal(t, tt.want, got)
            assert.Equal(t, tt.want1, got1)
        })
    }
}

func Test{{ .ServiceTypeName }}_Create(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockClock := NewMockclock(ctrl)
    mockLogger := NewMocklogger(ctrl)
    mockUUID := NewMockuuidGenerator(ctrl)
    ctx := context.Background()
    create := entities.NewMock{{ .CreateTypeName }}(t)
    now := time.Now().UTC()
    type fields struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        clock            clock
        logger           logger
        uuid             uuidGenerator
    }
    type args struct {
        ctx    context.Context
        create entities.{{ .CreateTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    entities.{{ .EntityName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                mockClock.EXPECT().Now().Return(now)
                mockUUID.EXPECT().NewUUID().Return(uuid.MustParse("00000000-0000-0000-0000-000000000001"))
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Create(
                        ctx,
                        entities.{{ .EntityName }}{
                            ID: uuid.MustParse("00000000-0000-0000-0000-000000000001"),
{{- range $key, $value := .Params }}
                            {{ $value.GetName }}: create.{{ $value.GetName }},
{{- end }}
                            UpdatedAt: now,
                            CreatedAt: now,
                        },
                    ).
                    Return(nil)
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:            mockClock,
                logger:           mockLogger,
                uuid: mockUUID,
            },
            args: args{
                ctx: ctx,
                create: create,
            },
            want: entities.{{ .EntityName }}{
                ID: uuid.MustParse("00000000-0000-0000-0000-000000000001"),
{{- range $key, $value := .Params }}
                {{ $value.GetName }}: create.{{ $value.GetName }},
{{- end }}
                UpdatedAt: now,
                CreatedAt: now,
            },
            wantErr: nil,
        },
        {
            name: "unexpected behavior",
            setup: func() {
                mockClock.EXPECT().Now().Return(now)
                mockUUID.EXPECT().NewUUID().Return(uuid.MustParse("00000000-0000-0000-0000-000000000002"))
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Create(
                        ctx,
                        entities.{{ .EntityName }}{
                            ID: uuid.MustParse("00000000-0000-0000-0000-000000000002"),
{{- range $key, $value := .Params }}
                            {{ $value.GetName }}: create.{{ $value.GetName }},
{{- end }}
                            UpdatedAt: now,
                            CreatedAt: now,
                        },
                    ).
                    Return(errs.NewUnexpectedBehaviorError("test error"))
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:            mockClock,
                logger:           mockLogger,
                uuid:             mockUUID,
            },
            args: args{
                ctx: ctx,
                create: create,
            },
            want:    entities.{{ .EntityName }}{},
            wantErr: errs.NewUnexpectedBehaviorError("test error"),
        },
        {
            name: "invalid",
            setup: func() {
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger:           mockLogger,
                clock:            mockClock,
                uuid:             mockUUID,
            },
            args: args{
                ctx: ctx,
                create: entities.{{ .CreateTypeName }}{},
            },
            want: entities.{{ .EntityName }}{},
            wantErr: errs.NewInvalidFormError().WithParams(
{{- range $key, $value := .Params }}
{{- if ne $value.Type "bool"}}
                errs.Param{Key: "{{ $value.Tag }}", Value: "cannot be blank"},
{{- end }}
{{- end }}
            ),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            u := &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
                clock:            tt.fields.clock,
                logger:           tt.fields.logger,
                uuid:             tt.fields.uuid,
            }
            got, err := u.Create(tt.args.ctx, tt.args.create)
            assert.ErrorIs(t, err, tt.wantErr)
            assert.Equal(t, tt.want, got)
        })
    }
}

func Test{{ .ServiceTypeName }}_Update(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockLogger := NewMocklogger(ctrl)
    ctx := context.Background()
    {{ .Variable }} := entities.NewMock{{ .EntityName }}(t)
    mockClock := NewMockclock(ctrl)
    update := entities.NewMock{{ .UpdateTypeName }}(t)
    now := time.Now().UTC()
    updated{{ .EntityName }} := entities.{{ .EntityName }} {
        ID:         {{ .Variable }}.ID,
        CreatedAt:  {{ .Variable }}.CreatedAt,
        UpdatedAt:  now,
{{ range $i, $value := .Params }}
        {{ $value.GetName }}: *update.{{ $value.GetName }},
{{- end }}
    }
    type fields struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        clock            clock
        logger           logger
    }
    type args struct {
        ctx    context.Context
        update entities.{{ .UpdateTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    entities.{{ .EntityName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                mockClock.EXPECT().Now().Return(now)
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Get(ctx, update.ID).Return({{ .Variable }}, nil)
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Update(ctx, updated{{ .EntityName }}).Return(nil)
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:            mockClock,
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                update: update,
            },
            want:    updated{{ .EntityName }},
            wantErr: nil,
        },
        {
            name: "update error",
            setup: func() {
                mockClock.EXPECT().Now().Return(now)
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Get(ctx, update.ID).
                    Return({{ .Variable }}, nil)
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Update(ctx, updated{{ .EntityName }}).
                    Return(errs.NewUnexpectedBehaviorError("test error"))
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:            mockClock,
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                update: update,
            },
            want:    entities.{{ .EntityName }}{},
            wantErr: errs.NewUnexpectedBehaviorError("test error"),
        },
        {
            name: "{{ .EntityName }} not found",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().Get(ctx, update.ID).Return(entities.{{ .EntityName }}{}, errs.NewEntityNotFoundError())
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                clock:            mockClock,
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                update: update,
            },
            want:    entities.{{ .EntityName }}{},
            wantErr: errs.NewEntityNotFoundError(),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            u := &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
                clock:            tt.fields.clock,
                logger:           tt.fields.logger,
            }
            got, err := u.Update(tt.args.ctx, tt.args.update)
            assert.ErrorIs(t, err, tt.wantErr)
            assert.Equal(t, tt.want, got)
        })
    }
}

func Test{{ .ServiceTypeName }}_Delete(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    mock{{ .RepositoryTypeName }} := NewMock{{ .GetRepositoryInterfaceName }}(ctrl)
    mockLogger := NewMocklogger(ctrl)
    ctx := context.Background()
    {{ .Variable }} := entities.NewMock{{ .EntityName }}(t)
    type fields struct {
        {{ .RepositoryVariableName }} {{ .GetRepositoryInterfaceName }}
        logger           logger
    }
    type args struct {
        ctx context.Context
        id  uuid.UUID
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Delete(ctx, {{ .Variable }}.ID).
                    Return(nil)
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Variable }}.ID,
            },
            wantErr: nil,
        },
        {
            name: "{{ .EntityName }} not found",
            setup: func() {
                mock{{ .RepositoryTypeName }}.EXPECT().
                    Delete(ctx, {{ .Variable }}.ID).
                    Return(errs.NewEntityNotFoundError())
            },
            fields: fields{
                {{ .RepositoryVariableName }}: mock{{ .RepositoryTypeName }},
                logger: mockLogger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Variable }}.ID,
            },
            wantErr: errs.NewEntityNotFoundError(),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            u := &{{ .ServiceTypeName }}{
                {{ .RepositoryVariableName }}: tt.fields.{{ .RepositoryVariableName }},
                logger:           tt.fields.logger,
            }
            err := u.Delete(tt.args.ctx, tt.args.id)
            assert.ErrorIs(t, err, tt.wantErr)
        })
    }
}
