linters-settings:
  funlen:
    lines: 100

issues:
  exclude-rules:
    - path: _test\.go
      linters:
        - funlen
        - lll

linters:
  disable-all: true
  enable:
    - bodyclose
    - deadcode
    - depguard
    - dogsled
    - errcheck
    - funlen
    - gochecknoinits
    - goconst
    - gocritic
    - gocyclo
    - gofmt
    - goimports
    - gosec
    - gosimple
    - govet
    - ineffassign
    - lll
    - misspell
    - nakedret
    - staticcheck
    - structcheck
    - stylecheck
    - typecheck
    - unconvert
    - unparam
    - unused
    - varcheck
    - whitespace
    - godox
    - gocognit

  # don't enable:
  # - prealloc
  # - dupl

run:
  skip-dirs: []
  skip-files: []
