package interceptors

import (
    "context"
    "errors"
    "reflect"
    "testing"

    "{{ .Module }}/internal/pkg/errs"
    "{{ .Module }}/internal/pkg/log"
    "{{ .Module }}/internal/app/{{ .DirName }}/models"
    mock_models "{{ .Module }}/internal/app/{{ .DirName }}/models/mock"
    userMockModels "{{ .Module }}/internal/app/user/models/mock"
    userModels "{{ .Module }}/internal/app/user/models"
    mock_interceptors "{{ .Module }}/internal/app/{{ .DirName }}/interceptors/mock"

    "go.uber.org/mock/gomock"
    "github.com/jaswdr/faker"

    "{{ .Module }}/internal/pkg/clock"
    "{{ .Module }}/internal/pkg/uuid"
)

func TestNew{{ .Interceptor.Name }}(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    type args struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    tests := []struct {
        name  string
        setup func()
        args  args
        want  *{{ .Interceptor.Name }}
    }{
        {
            name:  "ok",
            setup: func() {},
            args: args{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            want: &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            if got := New{{ .Interceptor.Name }}(tt.args.{{ .Config.UseCaseVariableName }}, tt.args.logger); !reflect.DeepEqual(got, tt.want) {
                t.Errorf("New{{ .Interceptor.Name }}() = %v, want %v", got, tt.want)
            }
        })
    }
}

func Test{{ .Interceptor.Name }}_Get(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    ctx := context.Background()
    {{ .Config.Variable }} := mock_models.New{{ .Config.ModelName }}(t)
    type fields struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    type args struct {
        ctx context.Context
        id  uuid.UUID
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    *models.{{ .Config.ModelName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Get(ctx, {{ .Config.Variable }}.ID).
                    Return({{ .Config.Variable }}, nil)
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx: ctx,
                id:  uuid.UUID({{ .Config.Variable }}.ID),
            },
            want:    {{ .Config.Variable }},
            wantErr: nil,
        },
        {
            name: "{{ .Config.ModelName }} not found",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Get(ctx, {{ .Config.Variable }}.ID).
                    Return(nil, errs.NewEntityNotFoundError())
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:         ctx,
                id:          {{ .Config.Variable }}.ID,
            },
            want:    nil,
            wantErr: errs.NewEntityNotFoundError(),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            i := &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: tt.fields.{{ .Config.UseCaseVariableName }},
                logger:          tt.fields.logger,
            }
            got, err := i.Get(tt.args.ctx, tt.args.id)
            if !errors.Is(err, tt.wantErr) {
                t.Errorf("{{ .Interceptor.Name }}.Get() error = %v, wantErr %v", err, tt.wantErr)
                return
            }
            if !reflect.DeepEqual(got, tt.want) {
                t.Errorf("{{ .Interceptor.Name }}.Get() = %v, want %v", got, tt.want)
            }
        })
    }
}

func Test{{ .Interceptor.Name }}_Create(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    ctx := context.Background()
    {{ .Config.Variable }} := mock_models.New{{ .Config.ModelName }}(t)
    create := mock_models.New{{ .Config.CreateTypeName }}(t)
    type fields struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    type args struct {
        ctx    context.Context
        create *models.{{ .Config.CreateTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    *models.{{ .Config.ModelName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().Create(ctx, create).Return({{ .Config.Variable }}, nil)
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:    ctx,
                create: create,
            },
            want:    {{ .Config.Variable }},
            wantErr: nil,
        },
        {
            name: "create error",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Create(ctx, create).
                    Return(nil, errs.NewUnexpectedBehaviorError("c u"))
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:    ctx,
                create: create,
            },
            want:    nil,
            wantErr: errs.NewUnexpectedBehaviorError("c u"),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            i := &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: tt.fields.{{ .Config.UseCaseVariableName }},
                logger:          tt.fields.logger,
            }
            got, err := i.Create(tt.args.ctx, tt.args.create)
            if !errors.Is(err, tt.wantErr) {
                t.Errorf("{{ .Interceptor.Name }}.Create() error = %v, wantErr %v", err, tt.wantErr)
                return
            }
            if !reflect.DeepEqual(got, tt.want) {
                t.Errorf("{{ .Interceptor.Name }}.Create() = %v, want %v", got, tt.want)
            }
        })
    }
}

func Test{{ .Interceptor.Name }}_Update(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    ctx := context.Background()
    {{ .Config.Variable }} := mock_models.New{{ .Config.ModelName }}(t)
    update := mock_models.New{{ .Config.UpdateTypeName }}(t)
    type fields struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    type args struct {
        ctx    context.Context
        update *models.{{ .Config.UpdateTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    *models.{{ .Config.ModelName }}
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().Update(ctx, update).Return({{ .Config.Variable }}, nil)
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:    ctx,
                update: update,
            },
            want:    {{ .Config.Variable }},
            wantErr: nil,
        },
        {
            name: "update error",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Update(ctx, update).
                    Return(nil, errs.NewUnexpectedBehaviorError("d 2"))
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:    ctx,
                update: update,
            },
            want:    nil,
            wantErr: errs.NewUnexpectedBehaviorError("d 2"),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            i := &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: tt.fields.{{ .Config.UseCaseVariableName }},
                logger:          tt.fields.logger,
            }
            got, err := i.Update(tt.args.ctx, tt.args.update)
            if !errors.Is(err, tt.wantErr) {
                t.Errorf("{{ .Interceptor.Name }}.Update() error = %v, wantErr %v", err, tt.wantErr)
                return
            }
            if !reflect.DeepEqual(got, tt.want) {
                t.Errorf("{{ .Interceptor.Name }}.Update() = %v, want %v", got, tt.want)
            }
        })
    }
}

func Test{{ .Interceptor.Name }}_Delete(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    ctx := context.Background()
    {{ .Config.Variable }} := mock_models.New{{ .Config.ModelName }}(t)
    type fields struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    type args struct {
        ctx context.Context
        id  uuid.UUID
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Delete(ctx, {{ .Config.Variable }}.ID).
                    Return(nil)
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Config.Variable }}.ID,
            },
            wantErr: nil,
        },
        {
            name: "delete error",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    Delete(ctx, {{ .Config.Variable }}.ID).
                    Return(errs.NewUnexpectedBehaviorError("d 2"))
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx: ctx,
                id:  {{ .Config.Variable }}.ID,
            },
            wantErr: errs.NewUnexpectedBehaviorError("d 2"),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            i := &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: tt.fields.{{ .Config.UseCaseVariableName }},
                logger:          tt.fields.logger,
            }
            if err := i.Delete(tt.args.ctx, tt.args.id); !errors.Is(err, tt.wantErr) {
                t.Errorf("{{ .Interceptor.Name }}.Delete() error = %v, wantErr %v", err, tt.wantErr)
            }
        })
    }
}

func Test{{ .Interceptor.Name }}_List(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{ .Config.UseCaseVariableName }} := mock_interceptors.NewMock{{ .Config.UseCaseTypeName }}(ctrl)
    logger := mock_interceptors.NewMockLogger(ctrl)
    ctx := context.Background()
    filter := mock_models.New{{ .Config.FilterTypeName }}(t)
    count := faker.New().UInt64Between(2, 20)
    {{ .Config.ListVariable }} := make([]*models.{{ .Config.ModelName }}, 0, count)
    for i := uint64(0); i < count; i++ {
        {{ .Config.ListVariable }} = append({{ .Config.ListVariable }}, mock_models.New{{ .Config.ModelName }}(t))
    }
    type fields struct {
        {{ .Config.UseCaseVariableName }} {{ .Config.UseCaseTypeName }}
        logger          Logger
    }
    type args struct {
        ctx         context.Context
        filter      *models.{{ .Config.FilterTypeName }}
    }
    tests := []struct {
        name    string
        setup   func()
        fields  fields
        args    args
        want    []*models.{{ .Config.ModelName }}
        want1   uint64
        wantErr error
    }{
        {
            name: "ok",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    List(ctx, filter).
                    Return({{ .Config.ListVariable }}, count, nil)
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:         ctx,
                filter:      filter,
            },
            want:    {{ .Config.ListVariable }},
            want1:   count,
            wantErr: nil,
        },
        {
            name: "list error",
            setup: func() {
                {{ .Config.UseCaseVariableName }}.EXPECT().
                    List(ctx, filter).
                    Return(nil, uint64(0), errs.NewUnexpectedBehaviorError("l e"))
            },
            fields: fields{
                {{ .Config.UseCaseVariableName }}: {{ .Config.UseCaseVariableName }},
                logger:          logger,
            },
            args: args{
                ctx:         ctx,
                filter:      filter,
            },
            want:    nil,
            want1:   0,
            wantErr: errs.NewUnexpectedBehaviorError("l e"),
        },
    }
    for _, tt := range tests {
        t.Run(tt.name, func(t *testing.T) {
            tt.setup()
            i := &{{ .Interceptor.Name }}{
                {{ .Config.UseCaseVariableName }}: tt.fields.{{ .Config.UseCaseVariableName }},
                logger:          tt.fields.logger,
            }
            got, got1, err := i.List(tt.args.ctx, tt.args.filter)
            if !errors.Is(err, tt.wantErr) {
                t.Errorf("{{ .Interceptor.Name }}.List() error = %v, wantErr %v", err, tt.wantErr)
                return
            }
            if !reflect.DeepEqual(got, tt.want) {
                t.Errorf("{{ .Interceptor.Name }}.List() got = %v, want %v", got, tt.want)
            }
            if got1 != tt.want1 {
                t.Errorf("{{ .Interceptor.Name }}.List() got1 = %v, want %v", got1, tt.want1)
            }
        })
    }
}
