package models

import (
    "time"

    "{{ .Module }}/internal/domain/errs"
    validation "github.com/go-ozzo/ozzo-validation/v4"
    "github.com/go-ozzo/ozzo-validation/v4/is"
)

type {{ .ModelName }} struct {
    ID        UUID      `json:"id" db:"id,omitempty" form:"id"`
{{- range $value := .Params }}
    {{ $value.GetName }} {{ $value.Type }} `json:"{{ $value.Tag }}" db:"{{ $value.Tag }}" form:"{{ $value.Tag }}"`
{{- end }}
    UpdatedAt time.Time `json:"updated_at" db:"updated_at,omitempty" form:"updated_at"`
    CreatedAt time.Time `json:"created_at" db:"created_at,omitempty" form:"created_at,omitempty"`
}

func (c *{{ .ModelName }}) Validate() error {
    err := validation.ValidateStruct(
        c,
        validation.Field(&c.ID, is.UUID),
{{- range $value := .Params }}
        validation.Field(&c.{{ $value.GetName }}),
{{- end }}
    )
    if err != nil {
        return errs.FromValidationError(err)
    }
    return nil
}

type {{ .FilterTypeName }} struct {
    IDs        []UUID `json:"ids" form:"ids"`
    PageSize   *uint64  `json:"page_size" form:"page_size"`
    PageNumber *uint64  `json:"page_number" form:"page_number"`
    OrderBy    []string `json:"order_by" form:"order_by"`
{{- if .SearchEnabled }}
    Search     *string  `json:"search" form:"search"`
{{- end }}
}

func (c *{{ .FilterTypeName }}) Validate() error {
    err := validation.ValidateStruct(
        c,
        validation.Field(&c.IDs),
        validation.Field(&c.PageSize),
        validation.Field(&c.PageNumber),
        validation.Field(&c.OrderBy),
{{- if .SearchEnabled }}
        validation.Field(&c.Search),
{{- end }}
    )
    if err != nil {
        return errs.FromValidationError(err)
    }
    return nil
}

type {{ .CreateTypeName }} struct {
{{- range $key, $value := .Params }}
    {{ $value.GetName }} {{ $value.Type }} `json:"{{ $value.Tag }}" form:"{{ $value.Tag }}"`
{{- end }}
}

func (c *{{ .CreateTypeName }}) Validate() error {
    err := validation.ValidateStruct(
        c,
{{- range $key, $value := .Params }}
        validation.Field(&c.{{ $value.GetName }}),
{{- end }}
    )
    if err != nil {
        return errs.FromValidationError(err)
    }
    return nil
}

type {{ .UpdateTypeName }} struct {
    ID UUID `json:"id"`
{{- range $key, $value := .Params }}
    {{ $value.GetName }} *{{ $value.Type }} `json:"{{ $value.Tag }}" form:"{{ $value.Tag }}"`
{{- end }}
}

func (c *{{ .UpdateTypeName }}) Validate() error {
    err := validation.ValidateStruct(
        c,
        validation.Field(&c.ID, validation.Required, is.UUID),
{{- range $value := .Params }}
        validation.Field(&c.{{ $value.GetName }}),
{{- end }}
    )
    if err != nil {
        return errs.FromValidationError(err)
    }
    return nil
}
{{ if .Auth }}
const (
    {{ .PermissionIDList }} PermissionID = "{{ .KeyName }}_list"
    {{ .PermissionIDDetail }} PermissionID = "{{ .KeyName }}_detail"
    {{ .PermissionIDCreate }} PermissionID = "{{ .KeyName }}_create"
    {{ .PermissionIDUpdate }} PermissionID = "{{ .KeyName }}_update"
    {{ .PermissionIDDelete }} PermissionID = "{{ .KeyName }}_delete"
)
{{ end }}