package models

import (
    "time"

    "{{ .Module }}/internal/domain/errs"
    validation "github.com/go-ozzo/ozzo-validation/v4"
    "github.com/go-ozzo/ozzo-validation/v4/is"
)

{{ if .Auth }}
const (
    {{ .PermissionIDList }} PermissionID = "{{ .KeyName }}_list"
    {{ .PermissionIDDetail }} PermissionID = "{{ .KeyName }}_detail"
    {{ .PermissionIDCreate }} PermissionID = "{{ .KeyName }}_create"
    {{ .PermissionIDUpdate }} PermissionID = "{{ .KeyName }}_update"
    {{ .PermissionIDDelete }} PermissionID = "{{ .KeyName }}_delete"
)
{{ end }}