package mock_models // nolint:stylecheck

import (
    "testing"
    "time"

    "{{ .Module }}/internal/domain/models"
    "{{ .Module }}/pkg/utils"
    "github.com/jaswdr/faker"
    "github.com/google/uuid"
)

func New{{ .FilterTypeName }}(t *testing.T) *models.{{ .FilterTypeName }} {
    t.Helper()
    return &models.{{ .FilterTypeName }}{
        PageSize:   utils.Pointer(faker.New().UInt64()),
        PageNumber: utils.Pointer(faker.New().UInt64()),
        OrderBy:    faker.New().Lorem().Words(5),
        IDs: []models.UUID{
			models.UUID(uuid.NewString()),
			models.UUID(uuid.NewString()),
			models.UUID(uuid.NewString()),
		},
{{- if .SearchEnabled }}
        Search: utils.Pointer(faker.New().Lorem().Text(27)),
{{- end }}
    }
}
