package postgres

import (
    "context"
    "fmt"
{{- range $value := .Params }}
    {{- if .IsSlice }}
    "github.com/lib/pq"
    {{- break }}
    {{- end }}
{{- end }}
    "time"

    sq "github.com/Masterminds/squirrel"

    "{{ .Module }}/pkg/log"

    "{{ .Module }}/internal/domain/models"
    "{{ .Module }}/internal/domain/repositories"

    "{{ .Module }}/internal/domain/errs"
{{- if .SearchEnabled }}
    "{{ .Module }}/pkg/postgresql"
{{- end }}
    "{{ .Module }}/pkg/utils"
    "github.com/jmoiron/sqlx"
)

