package repositories

import (
	"context"
	"fmt"
	sq "github.com/Masterminds/squirrel"
	"time"

	"{{ .Module }}/pkg/log"

	"{{ .Module }}/internal/domain/models"
	"{{ .Module }}/internal/domain/repositories"

	"github.com/jmoiron/sqlx"
	"github.com/lib/pq"
	"{{ .Module }}/internal/domain/errs"
)

type Postgres{{ .Model }}Repository struct {
	database *sqlx.DB
	logger   log.Logger
}

func NewPostgres{{ .Model }}Repository(database *sqlx.DB, logger log.Logger) repositories.{{ .Model }}Repository {
	return &Postgres{{ .Model }}Repository{database: database, logger: logger}
}

func (r *Postgres{{ .Model }}Repository) Create(ctx context.Context, {{ .Model | ToLower }} *models.{{ .Model }}) error {
	ctx, cancel := context.WithTimeout(ctx, time.Second)
	defer cancel()
	q := sq.Insert("public.{{ .Model | ToLower }}s").
		Columns(). // TODO: add columns
		Values().  // TODO: add values
		Suffix("RETURNING \"id\"")
	query, args := q.PlaceholderFormat(sq.Dollar).MustSql()
	if err := r.database.QueryRowxContext(ctx, query, args...).Scan(&{{ .Model | ToLower }}.ID); err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		return e
	}
	return nil
}

func (r *Postgres{{ .Model }}Repository) Get(ctx context.Context, id string) (*models.{{ .Model }}, error) {
	ctx, cancel := context.WithTimeout(ctx, time.Second)
	defer cancel()
	{{ .Model | ToLower }} := &models.{{ .Model }}{}
	q := sq.Select("*").
		From("public.{{ .Model | ToLower }}s").
		Where(sq.Eq{"id": id}).
		Limit(1)
	query, args := q.PlaceholderFormat(sq.Dollar).MustSql()
	if err := r.database.GetContext(ctx, &{{ .Model | ToLower }}, query, args...); err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		return nil, e
	}
	return {{ .Model | ToLower }}, nil
}

func (r *Postgres{{ .Model }}Repository) List(ctx context.Context, filter *models.{{ .Model }}Filter) ([]*models.{{ .Model }}, error) {
	ctx, cancel := context.WithTimeout(ctx, time.Second)
	defer cancel()
	var {{ .Model | ToLower }}s []*models.{{ .Model }}
	const pageSize = 10
	q := sq.Select("*").
		From("public.{{ .Model | ToLower }}s").
		Limit(pageSize) //
	// TODO: add filtering
	if filter.PageNumber != nil && *filter.PageNumber > 1 {
		q = q.Offset((*filter.PageNumber - 1) * *filter.PageSize)
	}
	if filter.PageSize != nil {
		q = q.Limit(*filter.PageSize)
	}
	if len(filter.OrderBy) > 0 {
		q = q.OrderBy(filter.OrderBy...)
	}
	query, args := q.PlaceholderFormat(sq.Dollar).MustSql()
	if err := r.database.SelectContext(ctx, &{{ .Model | ToLower }}s, query, args...); err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		return nil, e
	}
	return {{ .Model | ToLower }}s, nil
}

func (r *Postgres{{ .Model }}Repository) Update(ctx context.Context, {{ .Model | ToLower }} *models.{{ .Model }}) error {
	ctx, cancel := context.WithTimeout(ctx, time.Second)
	defer cancel()
	q := sq.Update("public.{{ .Model | ToLower }}s").Where(sq.Eq{"id": {{ .Model | ToLower }}.ID}).Set("", "") // TODO: set values
	query, args := q.PlaceholderFormat(sq.Dollar).MustSql()
	result, err := r.database.ExecContext(ctx, query, args...)
	if err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		pgError, ok := err.(*pq.Error)
		if ok {
			switch pgError.Code {
			case "23505":
				e = errs.NewInvalidFormError()
				e.AddParam("phone", "The phone field has already been taken.")
			default:
				e = errs.NewUnexpectedBehaviorError(pgError.Detail)
			}
		}
		e.AddParam("{{ .Model | ToLower }}_id", fmt.Sprint({{ .Model | ToLower }}.ID))
		return e
	}
	affected, err := result.RowsAffected()
	if err != nil {
		return errs.NewUnexpectedBehaviorError(err.Error())
	}
	if affected == 0 {
		e := errs.New{{ .Model }}NotFound()
		e.AddParam("{{ .Model | ToLower }}_id", fmt.Sprint({{ .Model | ToLower }}.ID))
		return e
	}
	return nil
}

func (r *Postgres{{ .Model }}Repository) Delete(ctx context.Context, id string) error {
	ctx, cancel := context.WithTimeout(ctx, time.Second)
	defer cancel()
	q := sq.Delete("public.{{ .Model | ToLower }}s").Where(sq.Eq{"id": id})
	query, args := q.PlaceholderFormat(sq.Dollar).MustSql()
	result, err := r.database.ExecContext(ctx, query, args...)
	if err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		e.AddParam("{{ .Model | ToLower }}_id", fmt.Sprint(id))
		return e
	}
	affected, err := result.RowsAffected()
	if err != nil {
		e := errs.NewUnexpectedBehaviorError(err.Error())
		e.AddParam("{{ .Model | ToLower }}_id", fmt.Sprint(id))
		return e
	}
	if affected == 0 {
		e := errs.New{{ .Model }}NotFound()
		e.AddParam("{{ .Model | ToLower }}_id", fmt.Sprint(id))
		return e
	}
	return nil
}
