DROP TABLE public.{{ .Config.TableName }};

DELETE
FROM public.permissions
WHERE id IN (
    '{{- .Config.KeyName -}}_list',
    '{{- .Config.KeyName -}}_detail',
    '{{- .Config.KeyName -}}_create',
    '{{- .Config.KeyName -}}_update',
    '{{- .Config.KeyName -}}_delete'
);
