CREATE TABLE public.{{ .TableName }}
(
    id          uuid                  DEFAULT uuidv7()
        CONSTRAINT {{ .TableName }}_pk PRIMARY KEY,
{{- range $value := .Params }}
    {{ $value.Tag }} {{ $value.SQLType }} NOT NULL,
{{- end }}
    updated_at  timestamp    NOT NULL DEFAULT (now() at time zone 'utc'),
    created_at  timestamp    NOT NULL DEFAULT (now() at time zone 'utc')
);

{{- if .SearchEnabled }}
CREATE INDEX search_{{ .TableName }}
    ON public.{{ .TableName }}
        USING GIN ({{ .SearchVector }});
{{- end}}
