CREATE TABLE public.{{ .Config.TableName }}
(
    id          uuid                  DEFAULT uuid_generate_v4()
        CONSTRAINT {{ .Config.TableName }}_pk PRIMARY KEY,
{{- range $value := .Config.Params }}
    {{ $value.Tag }} {{ $value.SQLType }} NOT NULL,
{{- end }}
    updated_at  timestamp    NOT NULL DEFAULT (now() at time zone 'utc'),
    created_at  timestamp    NOT NULL DEFAULT (now() at time zone 'utc')
);

{{- if .Config.SearchEnabled }}
CREATE INDEX search_{{ .Config.TableName }}
    ON public.{{ .Config.TableName }}
        USING GIN ({{ .Config.SearchVector }});
{{- end}}
