module {{ .Module }}

go {{ .GoVersion }}

require (
	github.com/go-ozzo/ozzo-validation/v4 v4.3.0
	github.com/ilyakaznacheev/cleanenv v1.2.5
	github.com/pkg/errors v0.9.1
	github.com/urfave/cli/v2 v2.3.0
	go.uber.org/fx v1.16.0
	go.uber.org/zap v1.21.0
)

require (
	github.com/BurntSushi/toml v0.3.1 // indirect
	github.com/cpuguy83/go-md2man/v2 v2.0.0-20190314233015-f79a8a8ca69d // indirect
	github.com/joho/godotenv v1.3.0 // indirect
	github.com/russross/blackfriday/v2 v2.0.1 // indirect
	github.com/shurcooL/sanitized_anchor_name v1.0.0 // indirect
	golang.org/x/sys v0.0.0-20191026070338-33540a1f6037 // indirect
	gopkg.in/yaml.v2 v2.2.3 // indirect
	olympos.io/encoding/edn v0.0.0-20200308123125-93e3b8dd0e24 // indirect
)

