package repositories

import (
    "context"

    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -build_flags=-mod=mod -destination mock/auth_mock.go {{ .Module }}/internal/domain/repositories AuthRepository

type AuthRepository interface {
    Create(
        ctx context.Context,
        user *models.User,
    ) (*models.TokenPair, *errs.Error)
    Validate(
        ctx context.Context,
        token models.Token,
    ) *errs.Error
    RefreshToken(
        ctx context.Context,
        token models.Token,
    ) (*models.TokenPair, *errs.Error)
    GetSubject(
        ctx context.Context,
        token models.Token,
    ) (string, *errs.Error)
}
