package repositories

import (
	"context"

	"{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/{{ .MockFileName }} {{ .Module }}/internal/domain/repositories {{ .RepositoryTypeName }}

type {{ .RepositoryTypeName }} interface {
	Get(
		ctx context.Context,
		id string,
	) (*models.{{ .ModelName }}, error)
	List(
		ctx context.Context,
		filter *models.{{ .FilterTypeName }},
	) ([]*models.{{ .ModelName }}, error)
	Count(
		ctx context.Context,
		filter *models.{{ .FilterTypeName }},
	) (uint64, error)
	Create(
		ctx context.Context,
		{{ .Variable }} *models.{{ .ModelName }},
	) error
	Update(
		ctx context.Context,
		{{ .Variable  }} *models.{{ .ModelName }},
	) error
	Delete(
		ctx context.Context,
		id string,
	) error
}
