package repositories

import (
    "context"

    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -destination mock/{{ .MockFileName }} {{ .Module }}/internal/domain/repositories {{ .RepositoryTypeName }}

type {{ .RepositoryTypeName }} interface {
    Get(
        ctx context.Context,
        id string,
    ) (*models.{{ .ModelName }}, *errs.Error)
    List(
        ctx context.Context,
        filter *models.{{ .FilterTypeName }},
    ) ([]*models.{{ .ModelName }}, *errs.Error)
    Count(
        ctx context.Context,
        filter *models.{{ .FilterTypeName }},
    ) (uint64, *errs.Error)
    Create(
        ctx context.Context,
        {{ .Variable }} *models.{{ .ModelName }},
    ) *errs.Error
    Update(
        ctx context.Context,
        {{ .Variable  }} *models.{{ .ModelName }},
    ) *errs.Error
    Delete(
        ctx context.Context,
        id string,
    ) *errs.Error
}
