package repositories

import (
    "context"

    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/internal/domain/models"
)

//nolint: lll
//go:generate mockgen -build_flags=-mod=mod -build_flags=-mod=mod -destination mock/permission_mock.go {{ .Module }}/internal/domain/repositories PermissionRepository

type PermissionRepository interface {
    HasPermission(
        ctx context.Context,
        permission models.PermissionID,
        requestUser *models.User,
    ) *errs.Error
    HasObjectPermission(
        ctx context.Context,
        permission models.PermissionID,
        user *models.User,
        obj any,
    ) *errs.Error
}
