package main

import (
    "os"
    "{{ .Module }}/internal/containers"
    "github.com/urfave/cli/v2"
)

const version = "0.1.0"

const configPath = ""

func main() {
    app := &cli.App{
        Name:    "{{ .Name }}",
        Usage:   "service",
        Version: version,
        Flags: []cli.Flag{
            &cli.StringFlag{
                Name:        "config",
                Aliases:     []string{"c"},
                Usage:       "Load configuration from `FILE`",
                EnvVars:     []string{"{{ .Name | ToUpper }}_CONFIG_PATH"},
                TakesFile:   true,
                Value:       configPath,
                DefaultText: configPath,
                HasBeenSet:  false,
            },
        },
        Action: runApp,
    }
    if err := app.Run(os.Args); err != nil {
        panic(err)
    }
}

// runApp - run app
func runApp(context *cli.Context) error {
    app := containers.New{{ .Name | Title }}(configPath)
    err := app.Start(context.Context)
    if err != nil {
        return err
    }
    return nil
}
