DROP TABLE public.{{ .TableName }};

DELETE
FROM public.permissions
WHERE id IN (
    '{{- .KeyName -}}_list',
    '{{- .KeyName -}}_detail',
    '{{- .KeyName -}}_create',
    '{{- .KeyName -}}_update',
    '{{- .KeyName -}}_delete'
);
