package grpc

import (
	"context"
	"{{ .Module }}/internal/domain/interceptors"
	"{{ .Module }}/internal/domain/models"
	"{{ .Module }}/pkg/{{ .ProtoPackage }}"
	"strings"
)

type AuthServiceServer struct {
	{{ .ProtoPackage }}.UnimplementedAuthServiceServer
	authInterceptor interceptors.AuthInterceptor
}

func NewAuthServiceServer(
	authInterceptor interceptors.AuthInterceptor,
) {{ .ProtoPackage }}.AuthServiceServer {
	return &AuthServiceServer{authInterceptor: authInterceptor}
}

func (s AuthServiceServer) CreateToken(
	ctx context.Context,
	input *{{ .ProtoPackage }}.CreateToken,
) (*{{ .ProtoPackage }}.TokenPair, error) {
	login := &models.Login{
		Email:    strings.ToLower(input.GetEmail()),
		Password: input.GetPassword(),
	}
	tokenPair, err := s.authInterceptor.CreateToken(ctx, login)
	if err != nil {
		return nil, decodeError(err)
	}
	return decodeTokenPair(tokenPair), nil
}

func (s AuthServiceServer) RefreshToken(
	ctx context.Context,
	input *{{ .ProtoPackage }}.RefreshToken,
) (*{{ .ProtoPackage }}.TokenPair, error) {
	tokenPair, err := s.authInterceptor.RefreshToken(ctx, models.Token(input.GetToken()))
	if err != nil {
		return nil, decodeError(err)
	}
	return decodeTokenPair(tokenPair), nil
}

func decodeTokenPair(pair *models.TokenPair) *{{ .ProtoPackage }}.TokenPair {
	return &{{ .ProtoPackage }}.TokenPair{
		Access:  pair.Access.String(),
		Refresh: pair.Refresh.String(),
	}
}
