package grpc

import (
    "context"
    "errors"
    "net"

    "{{ .Module }}/internal/configs"
    "{{ .Module }}/internal/domain/errs"
    "{{ .Module }}/pkg/log"
    {{ .ProtoPackage }} "{{ .Module }}/pkg/{{ .ProtoPackage }}/v1"
    "google.golang.org/genproto/googleapis/rpc/errdetails"
    "google.golang.org/grpc/status"

    grpcZap "github.com/grpc-ecosystem/go-grpc-middleware/logging/zap"
    "github.com/grpc-ecosystem/go-grpc-middleware/logging/zap/ctxzap"
    "go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc"

    "go.uber.org/zap"
    "go.uber.org/zap/zapcore"
    "google.golang.org/grpc"
    "google.golang.org/grpc/codes"
    "google.golang.org/grpc/health"
    "google.golang.org/grpc/health/grpc_health_v1"
    "google.golang.org/grpc/reflection"
)
